<ion-view view-title="About">
  <ion-content>
    <center>
      <br><br>
      <b>
      April is National Autism Awareness Month!<br><br><br>

      Talk Now is a mobile application that helps Non-verbal Autistic people communicate. Users will be able to communicate through the use of simple words and pictures within well defined lists. The application
      will help with instant communication as well as progressions through daily routines.<br><br><br>

      User Stories formed through the guidance of<br> Joe Werderitch MS, Behavior Therapist
      </b>
      <br><br><br>
      <img src="http://www.familysolutionscounseling.org/_assets/img/autism-logo.png?Action=thumbnail&algorithm=fill_proportional&width=265" alt="Autism Symbol">
    </center>
  </ion-content>
</ion-view>
